<h1>Fetch</h1>
<h3>Slot</h3>
<hr />
<form [formGroup]="dialogForm" (ngSubmit)="submit()" #formDir="ngForm" novalidate>
  <div class="form-group row">
    <label class=" control-label col-md-12">Please input your staff or student ID:</label>
    <div class="col-md-4"> <input class="form-control" type="text" formControlName="id"> </div>
    <span class="text-danger" *ngIf="id.invalid && formDir.submitted">
      ID is required.
    </span>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-default">Submit</button>
    <button class="btn" (click)="cancel()">Cancel</button>
  </div>
</form>
